
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.arrow-down {
    display: inline-block;
    margin-left: 2.5px;
    width: 5px;
    height: 5px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(315deg);
    vertical-align: middle;
}
body { font-family: Arial, sans-serif; margin: 0; }
.top-bar {
    background-color: #E54D2E;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-bar div {
    margin: 0 10px;
}
.top-bar div:hover {
    cursor: pointer;
    text-decoration: underline;
}
.top-bar input[type="text"] {
    padding: 5px;
}
.search-area {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-area label {
    margin-right: 5px;
}
.top-bar input[type="text"] {
    padding: 5px;
    /* Dodatkowe style, jeśli są potrzebne */
}
.container {
    position:absolute;
    display: grid;
    padding-inline:25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-width: 100vw;
    justify-content: space-around;
    align-items: center;
}
.block1 {
    background-color: #71D083;
    border-radius: 15px;
    margin-top: 20px;

}
.block2 {
    background-color: #E54D2E;
    border-radius: 15px;
    margin-top: 20px;

}
.block3 {
    border-radius: 15px;
    background-color: #AB4ABA;
    margin-top: 20px;
}
.block4 {
    color:white;
    border-radius: 15px;
    background-color: #212529;
    grid-area: 2 / 2 / 3 / 4;
    margin-top: 20px;
    justify-content: center;
}
.block {
    max-width:30vw;
    min-width:30vw;
    text-align: center; /* Wyśrodkowuje tekst */
}
.block-primary {
    max-width:30vw;
    text-align: center; /* Wyśrodkowuje tekst */
}

.block img {
    width: 100%; /* Dopasowuje obraz do szerokości bloku */
    height: auto; /* Zachowuje proporcje obrazu */
}
@media (min-width: 768px) and (max-width: 1200px) {
    .container {
        flex-wrap: wrap;
    }

    .block {
        width: 45%; /* Dostosuj szerokość, aby dwa bloki mieściły się w jednym wierszu */
        margin-bottom: 5px; /* Dodaje odstęp pomiędzy blokami */
    }
    .block3 {
        width: 100%; /* Trzeci blok na całą szerokość */
    }
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .block {
        width: 100%; /* Każdy blok zajmuje pełną szerokość */
        margin-bottom: 20px; /* Dodaje odstęp pomiędzy blokami */
    }

    .top-bar, .search-area {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-area {
        margin-top: 10px; /* Dodaje odstęp nad obszarem wyszukiwania */
    }
}
footer{ min-height:50px; }

footer {
    display:none;
    background-color: #333; /* Ciemny kolor tła */
    color: white; /* Kolor tekstu */
    text-align: center; /* Wyśrodkowanie tekstu */
    padding: 10px 0; /* Wypełnienie dla góry i dołu */
    display: none;
    width: 100%; /* Szerokość na całą szerokość strony */
    box-sizing: border-box; /* Zapobiega rozciąganiu się poza szerokość okna */
}